.image {
    background-image: url('./Image/tomato.jpg');
    background-size : cover;
    resize          : both;
    overflow        : scroll;
    opacity         : 0.8;
    margin-top      : 50px;
}

.recipeInput {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    width           : 700px;
    height          : 600px;
    background-color: #e3e3e3;
    opacity         : 0.9;

}

select {
    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
    width             : 270px;
    height            : 30px;
    margin            : 10px;
    display           : flex;
    justify-content   : space-between;
    align-items       : center;
    background-color  : white;
    border            : none;
    color             : #0e1111;
    font-size         : 15px;
    padding           : 0 10px;
    font-family       : 'Nunito', sans-serif;
    border-radius     : 0;

}

.title {
    padding-bottom: 40px;
    font-size     : 25px;
    color         : #1f1f44;
    font-weight   : bold;
}