.imageAdd {
    background-image: url('./Image/tomato.jpg');
    background-size : cover;
    resize          : both;
    overflow        : scroll;
    opacity         : 0.8;
    margin-top      : 50px;
}

::-webkit-scrollbar {
    width     : 0px;
    background: transparent;
}

.recipeInput {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    width           : 700px;
    height          : 600px;
    background-color: #e3e3e3;
    opacity         : 0.9;
}

@media (max-width: 800px) {
    .recipeInput {
        width : 650px;
        height: 750px;
    }
}

@media (max-width: 500px) {
    .recipeInput {
        width : 400px;
        height: 750px;
    }
}


select {
    /* -webkit-appearance: none; */
    -webkit-border-radius: 0;
    /* -moz-appearance   : none;
    appearance           : none; */
    width                : 270px;
    height               : 30px;
    /* margin            : 10px; */
    display              : flex;
    justify-content      : space-between;
    align-items          : center;
    background-color     : white;
    border               : none;
    color                : #0e1111;
    font-size            : 15px;
    padding              : 0 10px;
    font-family          : 'Nunito', sans-serif;
  border-radius: 0;

 border: 0;
 outline: 0.5px solid #CCC;
 outline-offset: -1px;


}


.title {
    padding-bottom: 40px;
    font-size     : 25px;
    color         : #1f1f44;
    font-weight   : bold;
}

.ingredientsInput {
    width           : 250px;
    height          : 60px;
    border          : none;
    /* margin       : 10px; */
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: white;
    color           : #0e1111;
    font-size       : 15px;
    padding         : 10px 10px;
    display         : block;
}

.instructionsInput {
    width           : 250px;
    height          : 60px;
    border          : none;
    /* margin       : 10px; */
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: white;
    color           : #0e1111;
    font-size       : 15px;
    padding         : 10px 10px;
    display         : block;

}

.items {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding-top    : 5px;
}

@media (max-width: 500px) {
    .items {
        padding: 10px;
    }
}