.editImage {
    background-image: url('./Image/apple.jpg');
    background-size : cover;
    margin-top      : 50px;
    resize          : both;
    overflow        : scroll;
    opacity         : 0.8;
}

.ingredientsInput {
    width: 250px;
    height: 60px;
    border: none;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0e1111 ;
    font-size: 15px;
    padding : 10px 10px;
    display: block;
}

.instructionsInput {
    width: 250px;
    height: 60px;
    border: none;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0e1111 ;
    font-size: 15px;
    padding : 10px 10px;
    display: block;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.title {
    padding-bottom: 40px;
    font-size     : 25px;
    color         : #1f1f44;
    font-weight   : bold;
}
