.editImage {
    background-image: url('./Image/apple.jpg');
    background-size : cover;
    /* width        : 160px;
    height          : 160px;
    border          : 2px solid;
    color           : pink; */
    resize          : both;
    overflow        : scrol;
    opacity         : 0.6;
}
