.editImage {
    background-image: url('./Image/apple.jpg');
    background-size : cover;
    margin-top      : 50px;
    resize          : both;
    overflow        : scroll;
    opacity         : 0.8;
}

