.image {
    background-image: url('./Image/lemon.jpg');
    background-size : cover;
    resize          : both;
    overflow        : scroll;
    opacity         : 0.8;
    margin-top      : 50px;
}